<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <powershell>
      <services>
		<remoting enabled="false" requireSecureConnection="false">
			<patch:attribute name="enabled">true</patch:attribute>
			<patch:attribute name="requireSecureConnection">true</patch:attribute>
			<authorization>
				<add Permission="Allow" IdentityType="User" Identity="sitecore\admin" patch:before = "add[@Identity='sitecore\PowerShell Extensions Remoting']"/>
			</authorization>
		</remoting>
      </services>
    </powershell>
  </sitecore>
</configuration>
